
@{
    ViewBag.Title = "newBooking";
}

<h2>newBooking</h2>
<form method="POST">
    <input type="text" name="Name" />
    <input type="text" name="Date" />
    <input type="text" name="Event" />
    <input type="text" name="Location" />
    <input type="submit" />
</form>
