
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header {
    <div>
        <p>Header</p>
        @Html.Partial("MyPartial")
    </div>
}

<div>
    <h2>Ducklings</h2>
</div>

@Html.Partial("MyPartial2", new[] { "AAA", "BB", "C"})

@section footer {
    <div>
    <p>(c) ankeborg 2018</p>
    </div>
}