
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div> 
        <h2>about</h2>
        @Html.ActionLink("Products", "Product")
        @Html.ActionLink("Home", "Index");
        @Html.ActionLink("Contact", "Contact");
    </div>
</body>
</html>
