
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About";
}




<h1>About</h1>
<hr />
<ul class="list-group">
    <li class="list-group-item">HTML</li>
    <li class="list-group-item">CSS</li>
    <li class="list-group-item">Basic C#</li>
    <li class="list-group-item">Basic Java</li>
    <li class="list-group-item">Basic Javascript</li>
    <li class="list-group-item">SQL</li>
    <li class="list-group-item">PHP</li>
    <li class="list-group-item">Bootstrap</li>
</ul>
<br />

<div class="panel-group data-parent">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Collapsible list with programing skills</a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <ul class="list-group">
                <li class="list-group-item">HTML</li>
                <li class="list-group-item">CSS</li>
                <li class="list-group-item">Basic C#</li>
                <li class="list-group-item">Basic Java</li>
                <li class="list-group-item">Basic Javascript</li>
                <li class="list-group-item">SQL</li>
                <li class="list-group-item">PHP</li>
                <li class="list-group-item">Bootstrap</li>
            </ul>
            <div class="panel-footer">Footer</div>
        </div>
    </div>
</div>


<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse2">Collapsible panel with programing skills</a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">HTML</div>
            <div class="panel-footer">CSS</div>
            <div class="panel-footer">Basic C#</div>
            <div class="panel-footer">Basic Java</div>
            <div class="panel-footer">Basic Javascript</div>
            <div class="panel-footer">SQL</div>
            <div class="panel-footer">PHP</div>
            <div class="panel-footer">Bootstrap</div>
        </div>
    </div>
</div>


