
@{
    //Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Welcome to my site</h1>
    <p>Page made by Ruben C.</p>
</div>
 
