
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    <div> 
        <h2>hej</h2>
        @Html.ActionLink("Om oss", "About")
    </div>
</body>
</html>
