@model demo021017.Models.Class1

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductInfo</title>
</head>
<body>
    <div> 
        <h2>Din produkt heter @Model.Name och koster @Model.Price kr</h2>
    </div>
</body>
</html>
